<div class="container">
    <div class="jumbotron">
        <h1>Eat Da Burger!</h1>
    </div>

    <!-- Burgers Ready to Eat -->
    <div class="row">
        <div class="col-md-4">
            <h4>Now Serving:</h4>
            <ul class="list-group">
                {{#each burgers}}
                {{#unless this.devoured}}
                <li class="list-group-item">
                    <p>{{this.burger_name}}</p>
                    <form action="/api/burgers/{{this.id}}?_method=PUT" method="POST">
                        <button class="eat-burger btn btn-default btn-lg" data-id="{{id}}" data-newdevour="{{devour}}"
                            type="submit">Eat it!</button>
                    </form>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>


        <!-- Burgers Eaten-->

        <div class="col-md-4 offset-3">
            <h4>Eaten:</h4>

            <ul class="list-group">
                {{#each burgers}}
                {{#if this.devoured}}
                <li class="list-group-item">
                    <p>{{this.burger_name}}</p>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="col-md-6 offset-3">
        
        <form class="create-form">
            <p>Add a Burger</p>
            <div class="form-group">
                <label for="burgerName">Burger Name:</label>
                <input type="text" id="burgerName" name="name">
            </div>
            <button class="btn" type="submit">Add Burger</button>
        </form>
    </div>
</div>